*, ::before, ::after {
    box-sizing: border-box;
}

* {
    margin: 0px;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: Lato, Arial, Helvetica, sans-serif;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}

.container{
    padding: 0 12px;
}

.intro .container {
    width: 100%;
    align-items: center;
    font-size: 1.1em;
    margin-top: 16px;
}

.rule {
    display: grid;
    justify-content: center;
    row-gap: 8px;
}

.restart,
button.play {
    padding: 4px 32px;
    font-size: 1.1em;
    border-radius: 30px;
    border: 1px solid black;
    font-weight: bolder;
    background-color: rgb(49, 100, 135);
    color: rgb(235, 239, 239);
}

button.play {
    justify-self: center;

}

.restart:hover,
button.play:hover {
    cursor: pointer;
    background-color: rgb(219, 223, 223);
    color: rgb(26, 25, 25);
}

.rule ul {
    border-left: 3px solid #202123;
    border-right: 3px solid #202123;
    padding: 12px 48px;
}

h1 {
    border-bottom: 6px solid white;
    color: white;
    background-color: rgb(49, 100, 135);
    padding: 8px 16px;
}

h2 {
    color: rgb(22, 40, 53);
}

.board {
    background-color: rgb(44, 42, 42);
    width: 512px;
    height: 512px;
    margin: 48px auto 0px;
    display: flex;
    gap: 14px;
    flex-direction: column;
}

.row {
    display: flex;
    flex-grow: 1;
    gap: 14px;
}

.cell {
    background-color: rgb(235, 239, 239);
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    justify-content: center;
    position: relative;
    align-items: center;
}

.sign {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    font-size: 10rem;
    justify-content: center;
    align-items: center;
}

dialog {
    width: 41%;
    height: 8%;
    overflow: hidden;
    margin: auto;
}

.game {
    display: none;
}



.result {
    margin-top: 24px;
    font-size: 2.3em;
    display: flex;
    justify-content: center;
}
