/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: Lato, Arial, Helvetica, sans-serif;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

.scoreboard {
    width: 15%;
    height: 64px;
    background-color: #ccc;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 12px;
}

.scoreboard .points {
    font-size: 1.7rem;
}

.user-score,
.cpu-score {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-label,
.cpu-label {
    background-color: #222020;
    color: aliceblue;
    width: 100%;
    text-align: center;
    font-weight: 600;
}

.user-label {
    border-right: 1px solid #ccc;
}

.user.points,
.cpu.points {
    width: 100%;
    display: flex;
    justify-content: center;
}

.user.points {
    border-right: 1px solid #222020;
}

.board {
    background-color: #2c2a2a;
    width: 512px;
    height: 512px;
    margin: 48px auto 0;
    display: flex;
    gap: 14px;
    flex-direction: column;
}
.row {
    display: flex;
    flex-grow: 1;
    gap: 14px;
}
/* .gameboard .cell-1
{
    background-color: #ebefef;
    display: flex;
    justify-content: center;
    align-items: center;
    
} */

.cell {
    background-color: #ebefef;
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    justify-content: center;
    position: relative;
    align-items: center;
}

.new-round {
    margin-left: 48px;
}

.sign {
    overflow: hidden;
    width: 90%;
    height: 90%;
    display: flex;
    position: absolute;
    font-size: 10rem;
    justify-content: center;
    align-items: center;
}

.x-rotate-left,
.x-rotate-right {
    width: 99%;
    height: 16px;
    background-color: #031268;
    position: absolute;
    top: 46%;
    right: 1px;
}

.x-rotate-left {
    rotate: -45deg;
}

.x-rotate-right {
    rotate: 45deg
}

.o {
    width: 93%;
    height: 91%;
    position: absolute;
    border-radius: 50%;
    border: 13px solid #e41a1a;
    top: 4%;
    left: 3%;
}
